* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.App {
    width: 800px;
    margin: 0 auto;
}

.carousel-container {
    width: 70%;
    margin: 20px auto;
    position: relative;
}

.carousel-container .carousel-button {
    font-size: 30px;
    outline: none;
    border: none;
    background-color: transparent;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    color: #ffffff9d;
    padding: 6px;
    border-radius: 4px;
}

.carousel-container .carousel-button:hover {
    color: #11111195;
    background-color: #ffffff83;
}

.carousel-container .left {
    left: 16px;
}

.carousel-container .right {
    right: 16px;
}

.carousel-container .img {
    width: 100%;
    /* padding-top: calc(9/16*100%); */
    aspect-ratio: 16/9;
    background: no-repeat center/cover;
    border-radius: 8px;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 1);
}

.carousel-dots {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    width: 100%;
    position: absolute;
    bottom: -30px;
}

.carousel-dot {
    border: none;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: rgb(151, 150, 150);
    cursor: pointer;
}

.carousel-dot.active {
    background-color: rgba(255, 0, 0, 0.407);
}

.accordion-container {
    margin-top: 60px;
}

.accordion-item {
    width: 100%;
    border-radius: 8px;
    border: 1px solid #333;
    margin-bottom: 16px;
}

.accordion-item.open .accordion-title {
    background-color: rgba(255, 0, 0, 0.407);
    border-bottom: 1px solid #333;
    color: #fff;
}

.accordion-title {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    cursor: pointer;
}

.accordion-content {
    width: 100%;
    padding: 10px;
}